/* Scale-specific styles for the component: dimensions, layout, etc */

@layer components {
  .Backdrop {
    @apply fixed inset-0 z-10 w-full h-full overflow-hidden bg-black bg-opacity-30;
  }

  .Dialog {
    @apply box-border flex flex-col max-h-full outline-none w-fit;
    /* inline-size: fit-content; */
    max-height: inherit;
    min-width: 90%;
    max-width: 100%;
    /* min-inline-size: 90%; */
    /* max-inline-size: 100%; */
  }

  .Modal-wrapper {
    @apply box-border fixed top-0 left-0 z-20 flex items-center justify-center invisible w-screen h-screen pointer-events-none;
    /* inline-size: 100vw; */
    height: stretch;
  }

  .Modal-wrapper.is-open {
    @apply visible;
  }

  .Modal {
    @apply z-20 overflow-hidden outline-none pointer-events-auto;
    @apply p-6 bg-white;
  }
}
