/* Scale-specific styles for the component: dimensions, layout, etc */

@layer components {
  .Backdrop {
    @apply fixed inset-0 z-10 h-full w-full overflow-hidden bg-black bg-opacity-30;
  }

  .Dialog {
    @apply box-border flex max-h-full w-fit flex-col outline-none;
    /* inline-size: fit-content; */
    max-height: inherit;
    min-width: 90%;
    max-width: 100%;
    /* min-inline-size: 90%; */
    /* max-inline-size: 100%; */
  }

  .Modal-wrapper {
    @apply pointer-events-none invisible fixed top-0 left-0 z-20 box-border flex h-screen w-screen items-center justify-center;
    /* inline-size: 100vw; */
    height: stretch;
  }

  .Modal-wrapper.is-open {
    @apply visible;
  }

  .Modal {
    @apply pointer-events-auto z-20 overflow-hidden outline-none;
    @apply bg-white p-6;
  }
}
